[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-node-editor"]
	path = dependencies/imgui-node-editor
	url = git@github.com:Aincvy/imgui-node-editor.git
[submodule "dependencies/tree-sitter-javascript"]
	path = dependencies/tree-sitter-javascript
	url = git@github.com:Aincvy/tree-sitter-javascript.git
[submodule "dependencies/v8pp"]
	path = dependencies/v8pp
	url = https://github.com/pmed/v8pp.git
